# Project: Foundations of Computer Science


Alberto Monaco

Roll number: 803669

Academic year: 2018/2019

Course: Data Science

Department of Informatics, Systems and Communication

e-mail: a.monaco10@campus.unimib.it

### Setup

In [1]:
import numpy as np
import pandas as pd
import re
import time

In [2]:
start_time=time.time()

### Data import

In [3]:
data = pd.read_csv("googleplaystore.csv", sep = ',')
data_review = pd.read_csv("googleplaystore_user_reviews.csv")
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
data_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [5]:
data.loc[[10472]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

I create a copy to start processing.

First of all we decide to eliminate row number 10472. It doesn't have the value of Category variable, so it could create problems and misunderstandings.

In [6]:
data2 = data.copy()

In [7]:
data2 = data2.drop(10472)

# Requests

### 1) Convert the app sizes to a number

In [8]:
data2.Size.head()

0     19M
1     14M
2    8.7M
3     25M
4    2.8M
Name: Size, dtype: object

For this kind of requests i'll create new columns, instead of modify the original one.

In [9]:
data2['NewSize'] = (data2[data2.Size != "Varies with device"].Size.replace(r'[kM]+$', '', regex=True).astype(float) * \
    data2[data2.Size != "Varies with device"].Size.str.extract(r'[\d\.]+([kM]+)', expand=False).fillna(1).replace(['k','M'], [10**3, 10**6]).astype(int))

In [10]:
data2[['Size','NewSize']].head()

   Size     NewSize
0   19M  19000000.0
1   14M  14000000.0
2  8.7M   8700000.0
3   25M  25000000.0
4  2.8M   2800000.0

### 2) Convert the number of installs to a number

In [11]:
data2.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [12]:
data2['NewInstalls'] = data2['Installs'].apply(lambda x: x.replace('+',''))
data2['NewInstalls'] = data2['NewInstalls'].apply(lambda x: x.replace(',',''))
data2['NewInstalls'] = data2['NewInstalls'].astype(float)

In [13]:
data2.NewInstalls.unique()

array([1.e+04, 5.e+05, 5.e+06, 5.e+07, 1.e+05, 5.e+04, 1.e+06, 1.e+07,
       5.e+03, 1.e+08, 1.e+09, 1.e+03, 5.e+08, 5.e+01, 1.e+02, 5.e+02,
       1.e+01, 1.e+00, 5.e+00, 0.e+00])

In [14]:
data2[['Installs','NewInstalls']].head()

      Installs  NewInstalls
0      10,000+      10000.0
1     500,000+     500000.0
2   5,000,000+    5000000.0
3  50,000,000+   50000000.0
4     100,000+     100000.0

### 3) Transform “Varies with device” into a missing value

In [15]:
data2 = data2.replace(to_replace="Varies with device", value = np.nan)

In [16]:
data2.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,NewSize,NewInstalls
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up,53000000.0,5000.0
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up,3600000.0,100.0
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up,9500000.0,1000.0
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",NaN,NaN,NaN,1000.0
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",NaN,NaN,19000000.0,10000000.0

### 4) Convert Current Ver and Android Ver into a dotted number (e.g. 4.0.3 or 4.2)

In [17]:
data2['Android Ver'].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up', nan,
       '2.2 and up', '5.0 and up', '6.0 and up', '1.6 and up',
       '1.5 and up', '2.1 and up', '7.0 and up', '5.1 and up',
       '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up', '3.2 and up',
       '4.4W and up', '7.1 and up', '7.0 - 7.1.1', '8.0 and up',
       '5.0 - 8.0', '3.1 and up', '2.0.1 and up', '4.1 - 7.1.1',
       '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1', '5.0 - 7.1.1'],
      dtype=object)

In [18]:
AndroidVer = re.compile(r'(?P<version>\d+(\.\d+)*)') #version = simbolic group name

def AndroidVersionTransform(version):
    if pd.isnull(version):
        return np.nan
    res=AndroidVer.search(version)
    if res is not None:
        return res.group('version')
    else:
        return np.nan

In [19]:
data2['NewAndroidVer'] = data2['Android Ver'].apply(AndroidVersionTransform)

In [20]:
data2[['Android Ver', 'NewAndroidVer']].head()

    Android Ver NewAndroidVer
0  4.0.3 and up         4.0.3
1  4.0.3 and up         4.0.3
2  4.0.3 and up         4.0.3
3    4.2 and up           4.2
4    4.4 and up           4.4

In [21]:
CurrentVer = re.compile('(?P<ver>[\d+\.]*\d)') 

def CurrentVersionTransform(version):
    if pd.isnull(version):
        return np.nan
    res=CurrentVer.search(version)
    if res is not None:
        return res.group('ver')
    else:
        return np.nan

In [22]:
data2['Current Ver'].unique()

array(['1.0.0', '2.0.0', '1.2.4', ..., '1.0.612928', '0.3.4', '2.0.148.0'],
      dtype=object)

In [23]:
data2['NewCurrentVer'] = data2['Current Ver'].apply(CurrentVersionTransform)

In [24]:
data2['NewCurrentVer'].unique()

array(['1.0.0', '2.0.0', '1.2.4', ..., '1.0.612928', '0.3.4', '2.0.148.0'],
      dtype=object)

### 5) Remove the duplicates

We should consider two identical App as duplicated in the Data Frame. In particular we are going to investigate the same apps with different Reviews.

In [25]:
data2['Reviews'] = data2['Reviews'].astype(int)

In [26]:
data2[data2.duplicated('App')].shape[0]

1181

1181 rows duplicated. Now we sort values of Reviews and keep the highest value of that (most updated one).

In [27]:
data2 = data2.sort_values('Reviews', ascending = False)

In [28]:
data2 = data2.drop_duplicates(subset = 'App',keep='first')

### 6) For each category, compute the number of apps

In [29]:
data2.groupby(['Category'])['App'].count().head()

Category
ART_AND_DESIGN          61
AUTO_AND_VEHICLES       85
BEAUTY                  53
BOOKS_AND_REFERENCE    222
BUSINESS               420
Name: App, dtype: int64

### 7) For each category, compute the average rating

In [30]:
data2.groupby(['Category'])['Rating'].mean().sort_values(ascending = False).head()

Category
EVENTS                 4.435556
ART_AND_DESIGN         4.359322
EDUCATION              4.354717
BOOKS_AND_REFERENCE    4.344970
PERSONALIZATION        4.332215
Name: Rating, dtype: float64

### 8) Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

First of all we split double genres for each app (which are separated by ";" in Data Frame).

In [31]:
genres_split = pd.DataFrame([Genres.split(';') for Genres in data.Genres]).rename(columns = {0: 'first_genre', 1:'second_genre'})

In [32]:
genres_split.head()

    first_genre  second_genre
0  Art & Design          None
1  Art & Design  Pretend Play
2  Art & Design          None
3  Art & Design          None
4  Art & Design    Creativity

Bridging Apps and Genres:

Now we create dataframe for apps

In [33]:
apps = pd.DataFrame(data.App)

Merge it with genres_split

In [34]:
bridging = pd.merge(apps, genres_split, left_index = True, right_index = True).melt(id_vars = ['App'], value_name = "Genres")
bridging.head()

,App,variable,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,first_genre,Art & Design
1,Coloring book moana,first_genre,Art & Design
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",first_genre,Art & Design
3,Sketch - Draw & Paint,first_genre,Art & Design
4,Pixel Draw - Number Art Coloring Book,first_genre,Art & Design

In [35]:
bridging = bridging.drop(columns = "variable").dropna().reset_index(drop = True).sort_values("App")
bridging.head()

                                       App         Genres
8884  "i DT" Fútbol. Todos Somos Técnicos.         Sports
8532         +Download 4 Instagram Twitter         Social
324             - Free Comics - Comic Apps         Comics
4541                                    .R          Tools
4636                                /u/app  Communication

In [36]:
bridging[bridging["App"] == "Pixel Draw - Number Art Coloring Book"]

                                         App        Genres
10842  Pixel Draw - Number Art Coloring Book    Creativity
4      Pixel Draw - Number Art Coloring Book  Art & Design

As we can see, in the bridging table, the App Pixel Draw - Number Art Coloring Boox appears twice. (Once for each Genre).

### 9) For each genre, create a new column of the original dataframe. The new columns must have boolean values (True if the app has a given genre)

In [37]:
data2 = pd.concat([data2, pd.get_dummies(genres_split['first_genre'], dtype = 'bool')], axis = 1)
data2 = pd.concat([data2, pd.get_dummies(genres_split['second_genre'], dtype = 'bool')], axis = 1)
data2.drop(columns = "Genres").tail(20)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,...,Trivia,Video Players & Editors,Weather,Word,Action & Adventure,Brain Games,Creativity,Education,Music & Video,Pretend Play
10821,Poop FR,FAMILY,NaN,6.0,2.5M,50+,Free,0,Everyone,"May 29, 2018",...,False,False,False,False,False,False,False,False,False,False
10822,PLMGSS FR,PRODUCTIVITY,NaN,0.0,3.1M,10+,Free,0,Everyone,"December 1, 2017",...,False,False,False,False,False,False,False,False,False,False
10823,List iptv FR,VIDEO_PLAYERS,NaN,1.0,2.9M,100+,Free,0,Everyone,"April 22, 2018",...,False,True,False,False,False,False,False,False,False,False
10824,Cardio-FR,MEDICAL,NaN,67.0,82M,"10,000+",Free,0,Everyone,"July 31, 2018",...,False,False,False,False,False,False,False,False,False,False
10825,Naruto & Boruto FR,SOCIAL,NaN,7.0,7.7M,100+,Free,0,Teen,"February 2, 2018",...,False,False,False,False,False,False,False,False,False,False
10826,Frim: get new friends on local chat rooms,SOCIAL,4.0,88486.0,NaN,"5,000,000+",Free,0,Mature 17+,"March 23, 2018",...,False,False,False,False,False,False,False,False,False,False
10827,Fr Agnel Ambarnath,FAMILY,4.2,117.0,13M,"5,000+",Free,0,Everyone,"June 13, 2018",...,False,False,False,False,False,False,False,False,False,False
10828,Manga-FR - Anime Vostfr,COMICS,3.4,291.0,13M,"10,000+",Free,0,Everyone,"May 15, 2017",...,False,False,False,False,False,False,False,False,False,False
10829,Bulgarian French Dictionary Fr,BOOKS_AND_REFERENCE,4.6,603.0,7.4M,"10,000+",Free,0,Everyone,"June 19, 2016",...,False,False,False,False,False,False,False,False,False,False
10830,News Minecraft.fr,NEWS_AND_MAGAZINES,3.8,881.0,2.3M,"100,000+",Free,0,Everyone,"January 20, 2014",...,False,False,False,False,False,False,False,False,False,False
10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38.0,9.8M,"5,000+",Free,0,Everyone,"June 13, 2018",...,False,False,False,False,False,False,False,False,False,False
10832,FR Tides,WEATHER,3.8,1195.0,582k,"100,000+",Free,0,Everyone,"February 16, 2014",...,False,False,True,False,False,False,False,False,False,False
10833,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44.0,619k,"1,000+",Free,0,Everyone,"March 23, 2014",...,False,False,False,False,False,False,False,False,False,False
10834,FR Calculator,FAMILY,4.0,7.0,2.6M,500+,Free,0,Everyone,"June 18, 2017",...,False,False,False,False,False,False,False,False,False,False
10835,FR Forms,BUSINESS,NaN,0.0,9.6M,10+,Free,0,Everyone,"September 29, 2016",...,False,False,False,False,False,False,False,False,False,False
10836,Sya9a Maroc - FR,FAMILY,4.5,38.0,53M,"5,000+",Free,0,Everyone,"July 25, 2017",...,False,False,False,False,False,False,False,False,False,False
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4.0,3.6M,100+,Free,0,Everyone,"July 6, 2018",...,False,False,False,False,False,False,False,False,False,False
10838,Parkinson Exercices FR,MEDICAL,NaN,3.0,9.5M,"1,000+",Free,0,Everyone,"January 20, 2017",...,False,False,False,False,False,False,False,False,False,False
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114.0,NaN,"1,000+",Free,0,Mature 17+,"January 19, 2015",...,False,False,False,False,False,False,False,False,False,False
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,19M,"10,000,000+",Free,0,Everyone,"July 25, 2018",...,False,False,False,False,False,False,False,False,False,False

### 10) For each genre, compute the average rating. What is the genre with highest average?

In [38]:
rating = pd.DataFrame(data2['Rating'])

first_col = pd.concat([rating,genres_split.first_genre],axis=1)
first_col.columns = ['Rating','Genres']
second_col = pd.concat([rating,genres_split.second_genre],axis=1)
second_col.columns = ['Rating','Genres']
rating_genres = first_col.append(second_col).dropna()
pd.DataFrame(rating_genres.groupby(['Genres'])['Rating'].mean().sort_values(ascending = False)).head()

                     Rating
Genres
Events             4.435556
Puzzle             4.370732
Brain Games        4.358065
Art & Design       4.350000
Books & Reference  4.343275

The genre with the highest average rating is "Events", with 4.435556.

### 11) For each app, compute the approximate income, obtain as a product of number of installs and price.

In [39]:
data2['NewInstalls'] = data2['NewInstalls'].astype(float)

In [40]:
data2['NewInstalls'].unique()

array([1.e+04,    nan, 5.e+06, 5.e+07, 1.e+05, 5.e+04, 1.e+06, 1.e+07,
       5.e+03, 5.e+05, 1.e+09, 1.e+08, 1.e+03, 5.e+08, 5.e+01, 1.e+02,
       5.e+02, 1.e+01, 1.e+00, 5.e+00, 0.e+00])

In [41]:
data2.Price.unique()

array(['0', nan, '$4.99', '$3.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$6.99', '$9.99', '$7.49', '$0.99', '$5.49',
       '$10.00', '$11.99', '$79.99', '$16.99', '$1.00', '$14.99', '$2.49',
       '$24.99', '$10.99', '$1.50', '$19.99', '$15.99', '$9.00', '$29.99',
       '$74.99', '$33.99', '$39.99', '$3.95', '$4.49', '$1.70', '$8.99',
       '$2.00', '$3.88', '$25.99', '$399.99', '$17.99', '$400.00',
       '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50', '$1.59',
       '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$12.99', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99',
       '$2.95', '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99',
       '$3.61', '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [42]:
data2['NewPrice'] = data2['Price'].str.replace('$','',regex=True).astype(float)

data2['Approximate_Income'] = data2['NewInstalls'] * data2['NewPrice']
data2[['App','Approximate_Income']].sort_values('Approximate_Income',ascending = False).head()

                                App  Approximate_Income
2241                      Minecraft          69900000.0
5351                      I am rich          39999000.0
5356              I Am Rich Premium          19999500.0
4034                  Hitman Sniper           9900000.0
7417  Grand Theft Auto: San Andreas           6990000.0

### 12) For each app, compute its minimum and maximum: Sentiment_polarity

In [43]:
data_review.groupby(['App'])['Sentiment_Polarity'].aggregate({'min','max'}).head()

                                     min       max
App
10 Best Foods for You            -0.8000  1.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室 -0.1125  0.910000
11st                             -1.0000  1.000000
1800 Contacts - Lens Store       -0.3000  0.838542
1LINE – One Line with One Touch  -0.8250  1.000000

In [44]:
end_time = time.time()

In [45]:
print("Program executed in %s seconds" % (time.time()-start_time))

Program executed in 3.6109619140625 seconds